{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Update User{% endblock %}</h1>
{% endblock %}

{% block content %}
<h4 id='message' style="color:black">{{message}}</h4>
<form method="post">
    <div class="form-group">
       <label for="username" style="color:black" >username</label> 
       <input class="form-control" style="color:black" name="username" id="username" value="{{user.username}}" required>
       <label for="shippingAddress" style="color:black">Shipping Address</label>
       <input class="form-control" style="color:black" address="shippingAddress" name="shippingAddress" id="shippingAddress" value="{{user.shippingAddress}}" required>
       <label for="postalCode" style="color:black">Postal Code</label>
       <input class="form-control" style="color:black" name="postalCode" id="postalCode" value="{{user.postalCode}}" required>
       <input class="btn btn-primary" type="submit" value="Update">
    </div>
</form>
<a href="/">Back</a>
{% endblock %}

