{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Profile{% endblock %}</h1>
{% endblock %}

{% block content %}
<h2 id="welcome-header">Welcome {{ user.name }} !</h2>

<div style="height:4em">
    <h2 style="width:fit-content; float:left">Here are all available products</h2>
    <a class="btn btn-primary" style="display:inline-block; float:right" href='/product/create'>Sell a Product</a>
</div>
<br/>
<div id="products">
    <h3>Available products</h3>
    {% for product in otherProducts %}
    <div>
        <h4>
            {{ product.productName }} 
            <span style="float:right; margin-right:5em">${{ product.price }}</span>
            <span style="float:right; margin-right:2em">Seller: {{ product.user.username }}</span>
        </h4>
    </div> 
    {% endfor %}
    <h3>Your Products</h3>
    {% for product in user.products %}
    <div>
        <h4>
            {{ product.productName }} 
            <a href='/product/update/{{product.productName}}' style="float:right">update</a>
            <span style="float:right; margin-right:5em">${{ product.price }}</span>
        </h4>
    </div> 
    {% endfor %}
</div>
<br/><br/>
<a href="/user/modify">Update Profile</a>

{% endblock %}